.mobileBlock {
  display: none;
}

.desktopBlock {
  display: block;
}

.mobileFlex {
  display: none;
}
.desktopFlex {
  display: flex;
}

@media (max-width: 768px) {
  .mobileBlock {
    display: block;
  }

  .desktopBlock {
    display: none;
  }

  .mobileFlex {
    display: flex;
  }

  .desktopFlex {
    display: none;
  }
}

.container {
  width: 100%;
  position: relative;
}

.subContainer {
  width: 100%;
}

.excangeContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.textCenter {
  color: var(--Txt_Collor, #1b1b1b);
  text-align: center;
  font-family: Roboto;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 40px;
}

@media (min-width: 768px) {
  .textCenter {
    font-size: 40px;
    margin-top: 80px;
  }
}

@media (min-width: 1024px) {
  .textCenter {
    color: var(--Txt_Collor, #1b1b1b);
    text-align: center;
    font-family: Roboto;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    font-size: 50px;
    margin-top: 100px;
  }
}

.textCenter span {
  color: var(--Active_Header_Collor, #3460fd);
  font-family: Inter;
  font-size: inherit;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.exchange {
  display: flex;
  margin-top: 20px;
  width: 100%;
  max-width: 100%;
  padding: 10px;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  border-radius: 15px;
  background: var(--Background_blocks, #fffafa);
  box-shadow: 0px 0px 4px 0px #e1dcdc;
}

@media (min-width: 768px) {
  .exchange {
    margin-top: 70px;
    max-width: 90%;
  }
}

@media (min-width: 1024px) {
  .exchange {
    margin-top: 100px;
    max-width: 1140px;
  }
}

.form {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.floatingRate {
  color: var(--Txt_Collor, #1b1b1b);
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  gap: 5px;
  cursor: pointer;
}

@media (min-width: 768px) {
  .floatingRate {
    font-size: 16px;
  }
}

.leftForm {
  color: #1b1b1b;
  display: flex;
  gap: 5px;
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
}

@media (min-width: 768px) {
  .leftForm {
    gap: 15px;
    font-size: 15px;
    flex-wrap: nowrap;
  }
}

@media (min-width: 1024px) {
  .leftForm {
    gap: 20px;
    font-size: 16px;
  }
}

.leftForm button {
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex: 1 0 0;
  border-radius: 5px;
  background: rgba(250, 251, 255, 0.5);
}

@media (min-width: 768px) {
  .leftForm button {
    padding: 12px 25px;
  }
}
@media (max-width: 768px) {
  .leftForm {
    width: 100%;
  }
  .leftForm button {
    padding: 10px;
  }
  .leftForm button span {
    /* display: none; */
    color: var(--Active_Header_Collor, #3460fd);
    font-family: Roboto;
    font-size: 9px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}

@media (min-width: 1024px) {
  .leftForm button {
    padding: 15px 35px;
  }
}

.leftForm span {
  color: var(--Active_Header_Collor, #3460fd);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
}

@media (min-width: 768px) {
  .leftForm span {
    font-size: 14px;
  }
}

.active {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
  background: var(--Background_blocks, #fffafa) !important;
}

@media (min-width: 768px) {
  .active {
    padding: 0px 20px;
  }
}

@media (max-width: 768px) {
  .active {
    padding: 5px;
    min-height: 0;
  }
  .disabled {
    padding: 5px;
    min-height: 0;
  }
}

.disabled {
  opacity: 0.5;
  border-radius: 5px;
  background: rgba(250, 251, 255, 0.5);
}

.formHead {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  gap: 3px;
  background: rgba(240, 241, 245, 0.8);
  padding: 5px;
  border-radius: 10px;
}

@media (min-width: 768px) {
  .formHead {
    gap: 10px;
    padding: 10px;
  }
}

@media (min-width: 768px) {
  .formHead {
    gap: 10px;
    padding: 10px;
  }
}

.formCenter {
  display: flex;
  width: 100%;
  margin-top: 10px;
  padding: 20px;
  flex-direction: column;
  align-self: stretch;
  border-radius: 15px;
  background: var(--Background_blocks, #fffafa);
}

@media (min-width: 1024px) {
  .formCenter {
    flex-direction: row;
  }
}

.swap {
  width: 100%;
  margin-bottom: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swap img {
  cursor: pointer;
  transform: rotate(90deg);
}

.fromSelect {
  display: flex;
  gap: 10px;
}

.fromSelect input {
  display: flex;
  width: 260px;
  font-size: 35px;

  /* width: 582px;
    height: 80px;
    padding: 10px 20px;
    border-radius: 15px;
    background: #F0F1F5;
    outline: none; */
  border: none;
  border-bottom: 0.5px solid #e6e7eb;
  background-color: transparent;
  /* margin-bottom: 10px; */
}

.fromSelect input:focus-visible {
  outline: none;
}

.coinsend:hover .currencyDD {
  display: block !important;
}

.currencyDD {
  display: none;
  position: absolute;
  top: 20px;
  left: 0;
  width: 405px;
  z-index: 3000;
  padding: 10px 0;
  border-radius: 15px;
}

.to .currencyDD {
  right: 0;
  left: auto;
}

.currencyDD input {
  border-bottom: none;
  /* background-color: var(--Input, #F0F1F5);
    border-radius: 10px; */
}

.currencyDD input {
  font-size: 14px;
  width: 100%;
}

.currencyDD button {
  border-radius: 10px;
  padding: 5px 7px;
}

.from {
  position: relative;
  display: flex;
  width: 140px;
  height: 80px;
  padding: 10px;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  /* border-radius: 15px; */
  /* background: #F0F1F5; */
  border-bottom: 0.5px solid #e6e7eb;
  cursor: pointer;
}

.categoryCoin {
  height: 15px;
  width: 25px;
  color: #fff;
  font-feature-settings:
    'liga' off,
    'clig' off;
  font-family: Inter;
  font-size: 8px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: flex;
  padding: 3px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 3px;
  background: rgba(247, 147, 26, 0.8);
}

.categoryCoinSolana {
  height: 15px;
  width: 25px;
  color: #fff;
  font-feature-settings:
    'liga' off,
    'clig' off;
  font-family: Inter;
  font-size: 8px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: flex;
  padding: 3px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 3px;
  background: #000008;
}

.to {
  position: relative;
  display: flex;
  width: 140px;
  height: 80px;
  padding: 10px;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  gap: 10px;
  /* border-radius: 15px; */
  /* background: #F0F1F5; */
  border-bottom: 0.5px solid #e6e7eb;
  cursor: pointer;
}

.description {
  color: var(--Grey_txt, #7d7878);
  font-feature-settings:
    'liga' off,
    'clig' off;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 10px;
}

.exchangeBtn {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 15px;
  font-family: inherit;
  height: 50;
  border-radius: 10px;
  padding-top: 10px;
  padding-right: 50px;
  padding-bottom: 10px;
  padding-left: 50px;
}

@media (min-width: 768px) {
  .exchangeBtn {
    margin-top: 26px;
  }
}

.exchangeBtn a {
  width: 100%;
}

.send {
  color: var(--Grey_txt, #7d7878);
  font-feature-settings:
    'liga' off,
    'clig' off;
  font-family: Inter;
  width: 100%;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: left;
}

.coinsend {
  display: flex;
  gap: 5px;
  align-items: flex-end;
}

.coinSendText {
  display: flex;
  flex-direction: column;
}

.coinSendOwn {
  color: var(--Txt_Collor, #1b1b1b);
  font-feature-settings:
    'liga' off,
    'clig' off;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.coinSendDescription {
  color: var(--Grey_txt, #7d7878);
  font-feature-settings:
    'liga' off,
    'clig' off;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.exchangeBtn a {
  display: flex;
  height: 50px;
  padding: 10px 50px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background: var(--Active_Header_Collor, #3460fd);
  color: #fff;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  z-index: 2;
}

.exchangeBtn p {
  color: #7d7878;
  font-feature-settings:
    'liga' off,
    'clig' off;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  align-self: flex-start;
  font-weight: 500;
  line-height: normal;
}

.ourStrengths {
  margin-top: 60px;
  width: 100%;
  padding: 0 15px;
  padding-bottom: 20px;
}

@media (min-width: 768px) {
  .ourStrengths {
    margin-top: 80px;
    padding: 0 20px;
    padding-bottom: 80px;
  }
}

@media (min-width: 1024px) {
  .ourStrengths {
    margin-top: 100px;
    /* margin-left: 34px; */
    padding-bottom: 100px;
  }
}

.ourStrengthsMainText {
  color: var(--Active_Header_Collor, #3460fd);
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

@media (min-width: 768px) {
  .ourStrengthsMainText {
    font-size: 28px;
  }
}

@media (min-width: 1024px) {
  .ourStrengthsMainText {
    font-size: 30px;
  }
}

.support {
  display: flex;
  width: 100%;
  height: auto;
  min-height: 250px;
  padding: 20px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  flex-shrink: 0;
  border-radius: 15px;
  background: var(--Background_blocks, #fffafa);
  margin-bottom: 20px;
  padding-right: 183px;

  background-image: url('/images/landing/support.png');
  background-repeat: no-repeat;
  background-size: 200px;
  background-position: 100% center;
}

@media (min-width: 768px) {
  .support {
    min-height: 350px;
  }
}

@media (min-width: 1536px) {
  .support {
    width: 328px;
    height: 526px;
    margin-bottom: 0;
    background-size: 300px;
    background-position: center bottom;
  }
}

.ourStrengthsBlocks {
  margin-top: 30px;
  /* display: flex; */
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

@media (min-width: 768px) {
  .ourStrengthsBlocks {
    margin-top: 40px;
  }
}

@media (min-width: 1024px) {
  .ourStrengthsBlocks {
    margin-top: 50px;
    flex-direction: row;
  }
}

.supportMainText {
  color: #000;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  .supportMainText {
    font-size: 28px;
  }
}

@media (min-width: 1024px) {
  .supportMainText {
    font-size: 30px;
  }
}

.supportDescriptionText {
  width: 100%;
  color: var(--Grey_txt, #7d7878);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 10px;
}

@media (min-width: 768px) {
  .supportDescriptionText {
    font-size: 16px;
  }
}

@media (min-width: 1024px) {
  .supportDescriptionText {
    width: 308px;
  }
}

.supportText {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.noLimits {
  display: flex;
  width: 100%;
  height: auto;
  min-height: 200px;
  padding: 20px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 15px;
  background: var(--Background_blocks, #fffafa);
  background-image: url('/images/landing/nolimits.png');
  background-repeat: no-repeat;
  background-position: right 10px bottom 10px;
  background-size: 200px;
  padding-right: 0px;
  margin-bottom: 20px;
  position: relative;
  padding-right: 20px;
}

/* .noLimits::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.5);
    z-index: 0;
    border-radius: 15px;
} */

.noLimitsText {
  position: relative;
  z-index: 1;
}

@media (min-width: 768px) {
  .noLimits {
    min-height: 220px;
    background-size: 200px;
    padding-right: 183px;
  }

  .noLimits::after {
    display: none;
  }
}

@media (min-width: 1536px) {
  .noLimits {
    width: 560px;
    height: 253px;
    background-position: 110%;
    background-size: 300px;
    margin-bottom: 0;
  }
}

.noLimitsMainText {
  color: #000;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  .noLimitsMainText {
    font-size: 28px;
  }
}

@media (min-width: 1024px) {
  .noLimitsMainText {
    font-size: 30px;
  }
}

.noLimitsDescriptionText {
  color: var(--Grey_txt, #7d7878);
  width: 100%;
  max-width: 310px;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media (min-width: 768px) {
  .noLimitsDescriptionText {
    font-size: 16px;
  }
}

.transparency {
  display: flex;
  width: 100%;
  height: auto;
  min-height: 200px;
  padding: 20px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  border-radius: 15px;
  flex-shrink: 0;
  background: var(--Background_blocks, #fffafa);
  background-image: url('/images/landing/transparancy.png');
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: 200px;
  background-position: right bottom;
  margin-bottom: 20px;
  position: relative;
  padding-right: 20px;
}

/* .transparency::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.5);
    z-index: 0;
    border-radius: 15px;
} */

@media (min-width: 768px) {
  .transparency {
    min-height: 220px;
    padding-right: 183px;
    /* background-size: 150px; */
  }

  .transparency::after {
    display: none;
  }
}

@media (min-width: 1536px) {
  .transparency {
    width: 444px;
    height: 253px;
    background-size: 180px;
    margin-bottom: 0;
  }
}

.transparencyText {
  width: 100%;
  max-width: 100%;
  z-index: 1;
  position: relative;
}

@media (min-width: 768px) {
  .transparencyText {
    max-width: 280px;
  }
}

@media (min-width: 1024px) {
  .transparencyText {
    max-width: 100%;
  }
}

.transparencyMainText {
  color: #000;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  .transparencyMainText {
    font-size: 28px;
  }
}

@media (min-width: 1024px) {
  .transparencyMainText {
    font-size: 30px;
  }
}

.transparencyDescriptionText {
  color: var(--Grey_txt, #7d7878);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media (min-width: 768px) {
  .transparencyDescriptionText {
    font-size: 16px;
  }
}

.speed {
  display: flex;
  width: 100%;
  height: auto;
  min-height: 200px;
  padding: 20px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  flex-shrink: 0;
  background: var(--Background_blocks, #fffafa);
  border-radius: 15px;
  background-image: url('/images/landing/speed.png');
  background-repeat: no-repeat;
  background-position: right 10px bottom 10px;
  background-size: 100px;
  margin-bottom: 20px;
  position: relative;
  padding-right: 20px;
}

/* .speed::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.5);
    z-index: 0;
    border-radius: 15px;
} */

.speedText {
  position: relative;
  z-index: 1;
}

@media (min-width: 768px) {
  .speed {
    min-height: 220px;
    background-size: 150px;
    padding-right: 183px;
  }

  .speed::after {
    display: none;
  }
}

@media (min-width: 1536px) {
  .speed {
    width: 328px;
    height: 253px;
    background-size: 180px;
    background-position: right 100%;
    margin-bottom: 0;
  }
}

.bubbleOne {
  position: absolute;
  top: 680px;
  left: 500px;
  filter: blur(120px);
  z-index: -1;
}

.bubbleTwo {
  position: absolute;
  top: 1000px;
  left: -200px;
  z-index: -1;
}

.bubbleThree {
  position: absolute;
  top: 2000px;
  left: -150px;
  z-index: -1;
}

.bubbleFour {
  position: absolute;
  top: 2200px;
  right: -200px;
  z-index: -1;
  transform: scale(97%);
}
.bubbleFive {
  position: absolute;
  top: 3000px;
  left: -150px;
  z-index: -1;
}

.bubbleSix {
  position: absolute;
  top: 4000px;
  right: -250px;
  z-index: -1;
  transform: scale(90%);
}

.bubbleSeven {
  position: absolute;
  top: 4100px;
  left: -400px;
  z-index: -1;
  transform: scale(120%);
}

.speedMainText {
  color: #000;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 5px;
}

@media (min-width: 768px) {
  .speedMainText {
    font-size: 28px;
  }
}

@media (min-width: 1024px) {
  .speedMainText {
    font-size: 30px;
  }
}

.speedDescriptionText {
  color: var(--Grey_txt, #7d7878);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media (min-width: 768px) {
  .speedDescriptionText {
    font-size: 16px;
  }
}

.noRegestration {
  display: flex;
  width: 100%;
  height: auto;
  min-height: 200px;
  padding: 20px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  flex-shrink: 0;
  background: var(--Background_blocks, #fffafa);
  border-radius: 15px;
  background-image: url('/images/landing/noreg.png');
  background-repeat: no-repeat;
  background-position: right 10px bottom 10px;
  background-size: 100px;
  position: relative;
  margin-bottom: 20px;
  padding-right: 0;
}

/* .noRegestration::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.5);
    z-index: 0;
    border-radius: 15px;
} */

@media (min-width: 768px) {
  .noRegestration {
    min-height: 220px;
    background-size: 180px;
    margin-bottom: 0;
    padding-right: 183px;
  }

  .noRegestration::after {
    display: none;
  }
}

@media (min-width: 1536px) {
  .noRegestration {
    width: 676px;
    height: 253px;
    background-position: right;
    background-size: 230px;
  }
}

.noRegestrationText {
  width: 100%;
  max-width: 100%;
  z-index: 1;
  position: relative;
}

@media (min-width: 768px) {
  .noRegestrationText {
    max-width: 280px;
  }
}

@media (min-width: 1024px) {
  .noRegestrationText {
    max-width: 100%;
  }
}

.noRegestrationMainText {
  color: #000;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  .noRegestrationMainText {
    font-size: 28px;
  }
}

@media (min-width: 1024px) {
  .noRegestrationMainText {
    font-size: 30px;
  }
}

.noRegestrationDescriptionText {
  color: var(--Grey_txt, #7d7878);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media (min-width: 768px) {
  .noRegestrationDescriptionText {
    font-size: 16px;
  }
}

.toDayStatisctic {
  width: 100%;
  margin-top: 60px;
  font-size: 24px;
}

@media (min-width: 768px) {
  .toDayStatisctic {
    margin-top: 80px;
  }
}

@media (min-width: 1024px) {
  .toDayStatisctic {
    margin-top: 100px;
  }
}

.toDayStatisticMainText {
  color: var(--Active_Header_Collor, #3460fd);
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 100%;
  justify-content: center;
  text-align: center;
}

@media (min-width: 768px) {
  .toDayStatisticMainText {
    font-size: 28px;
  }
}

@media (min-width: 1024px) {
  .toDayStatisticMainText {
    font-size: 30px;
  }
}

.toDayStatisticsBlocks {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 30px;
  padding: 0 15px;
}

@media (min-width: 768px) {
  .toDayStatisticsBlocks {
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 40px;
  }

  .toDayStatisticsBlocks .block {
    width: calc(50% - 10px);
    max-width: none;
  }
}

@media (min-width: 1024px) {
  .toDayStatisticsBlocks {
    flex-wrap: nowrap;
    margin-top: 50px;
    padding: 0;
  }

  .toDayStatisticsBlocks .block {
    width: auto;
    /* max-width: 328px; */
  }
}

@media (max-width: 1024px) {
  .toDayStatisticsBlocks .block {
    width: auto;
    max-width: 328px;
  }
}

.block {
  display: flex;
  flex: 1;
  width: 100%;
  max-width: 100%;
  padding: 20px;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  flex-shrink: 0;
  transition: 0.7s;
  border-radius: 15px;
  background: #fffafa;
}

.block:hover {
  box-shadow: 0px 0px 50px 0px rgba(52, 96, 253, 0.5);
  transition: 0.7s;
}

.toDayStatisticsBlocksText {
  /* color: var(--Header_Background, #5C88FF); */
  font-family: Inter;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

@media (min-width: 768px) {
  .toDayStatisticsBlocksText {
    font-size: 50px;
  }
}

@media (min-width: 1024px) {
  .toDayStatisticsBlocksText {
    font-size: 60px;
  }
}

.toDayStatisticsBlocksDescriptionText {
  color: var(--Txt_Collor, #1b1b1b);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

@media (min-width: 768px) {
  .toDayStatisticsBlocksDescriptionText {
    font-size: 18px;
  }
}

@media (min-width: 1024px) {
  .toDayStatisticsBlocksDescriptionText {
    font-size: 20px;
  }
}

.centerContainer {
  width: 100%;
  padding: 0 15px;
}

@media (min-width: 768px) {
  .centerContainer {
    padding: 0 20px;
  }
}

@media (min-width: 1024px) {
  .centerContainer {
    padding: 0 30px;
  }
}

.questionMark {
  border-radius: 50%;
  border: 2px solid #cdc8c8;
  display: flex;
  cursor: default;
  width: 24px;
  height: 24px;
  color: #cdc8c8;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  position: relative;
}

.hoverContent {
  display: none;
  position: absolute;
  bottom: 30px;
  right: 0;
  /* transform: translateX(-50%); */
  z-index: 9999;
}

.questionMark:hover .hoverContent {
  display: block;
}

.borderEffect {
  position: relative;
  width: 100%;
  height: 100%;
  padding-bottom: 70px;
  border-radius: 0 0 15px 15px;
  background: linear-gradient(180deg, transparent 0px, transparent 1200px, #f5f0f0 1600px, #efeaea 2000px);
}

.borderEffect::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 200px;
  box-shadow: 0 60px 50px -20px rgba(52, 96, 253, 0.5);
  pointer-events: none;
  border-radius: 0 0 15px 15px;
}

.borderEffect2 {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 15px;
}

.howItWorks {
  margin-top: 0px;
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .howItWorks {
    margin-top: 80px;
  }
}

@media (min-width: 1024px) {
  .howItWorks {
    margin-top: 100px;
  }
}

.howItWorksMainText {
  color: var(--Active_Header_Collor, #3460fd);
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 30px;
  width: 100%;
}

@media (min-width: 768px) {
  .howItWorksMainText {
    font-size: 28px;
    margin-bottom: 40px;
  }
}

@media (min-width: 1024px) {
  .howItWorksMainText {
    font-size: 30px;
    margin-bottom: 50px;
  }
}

.FaqMainText {
  color: var(--Active_Header_Collor, #3460fd);
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 30px;
  width: 100%;
  margin-top: 60px;
}

@media (min-width: 768px) {
  .FaqMainText {
    font-size: 28px;
    margin-bottom: 40px;
    margin-top: 50px;
  }
}

@media (min-width: 1024px) {
  .FaqMainText {
    font-size: 30px;
    margin-bottom: 50px;
    margin-top: 50px;
  }
}

.HowItWorksBlocks {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media (min-width: 768px) {
  .HowItWorksBlocks {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .HowItWorksBlocks .HowItWorksBlock {
    width: calc(50% - 10px);
  }
}

@media (min-width: 1024px) {
  .HowItWorksBlocks {
    flex-wrap: nowrap;
  }

  .HowItWorksBlocks .HowItWorksBlock {
    width: auto;
  }
}

.HowItWorksBlock {
  display: flex;
  flex: 1;
  height: auto;
  min-height: 250px;
  padding: 20px;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  flex-shrink: 0;
}

@media (min-width: 1024px) {
  .HowItWorksBlock {
    height: 300px;
  }
}

.howItWorksContainers {
  width: 100%;
}

.howItWorksContainersBlocks {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

@media (min-width: 768px) {
  .howItWorksContainersBlocks {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

@media (min-width: 1600px) {
  .howItWorksContainersBlocks {
    flex-wrap: nowrap;
  }
}

.howItWorksContainersBlocksBlock {
  width: 100%;
  background: var(--Background_blocks, #fffafa);
  border-radius: 15px;
  /* padding: 10px; */
}

.howItWorksContainersBlocksBlock2 {
  width: calc(25% - 20px);
  background: var(--Background_blocks, #fffafa);
  border-radius: 15px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.howItWorksContainersBlocksBlock2Image1 {
  z-index: 2;
}

.howItWorksContainersBlocksBlock2Image2 {
  position: absolute;
  top: 0;
  left: 50%;
  padding: 20px;
  width: 100%;
  height: 350px;
  z-index: 1;
  transform: translate(-50%, 0px);
}

@media (max-width: 768px) {
  .howItWorksContainersBlocksBlock2Image2 {
    height: 330px;
  }
}

.howItWorksContainersBlocksBlock2 img {
  max-width: 330px;
  /* height: 100%; */
}

/* @media (min-width: 768px) {
    .howItWorksContainersBlocksBlock {
        width: calc(50% - 10px);
    }
} */

@media (min-width: 1600px) {
  .howItWorksContainersBlocksBlock {
    width: auto;
    flex: 1;
  }
}

@media (max-width: 1600px) {
  .howItWorksContainersBlocks {
    justify-content: center;
  }
  .howItWorksContainersBlocksBlock {
    height: auto !important;
    width: calc(50% - 50px);
    /* max-width: 360px; */
    flex: auto !important;
  }
  .howItWorksContainersBlocksBlock2 img {
    width: 100%;
    /* height: 100%; */
  }
}
@media (max-width: 1280px) {
  .howItWorksContainersBlocksBlock2 {
    width: calc(50% - 20px);
    /* height: 100%; */
  }
}
@media (max-width: 768px) {
  .howItWorksContainersBlocksBlock,
  .howItWorksContainersBlocksBlock2 {
    width: 100%;
  }
}

.howItWorksContainersBlocksBlockContent {
  width: 100%;
  border-radius: 10px;
  background: var(--Background_blocks, #fffafa);
}

.HowItWorksBlock:nth-child(1) {
  background-image: url('/icons/notebookC.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 180px;
}

.HowItWorksBlock:nth-child(2) {
  background-image: url('/icons/notebookA.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 350px;
}

.HowItWorksBlock:nth-child(3) {
  background-image: url('/icons/blockA.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 280px;
}

.HowItWorksBlock img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.HowItWorksBlockMainText {
  color: #1b1b1b;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.HowItWorksBlockImportant {
  flex: 1;
  height: 192px;
  flex-shrink: 0;
  border-radius: 10px;
  background: var(--Background_blocks, #fffafa);
  margin-top: 20px;
}

.HowItWorksBlockImportantMainText {
  color: var(--Active_Header_Collor, #3460fd);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-top: 20px;
}

.HowItWorksBlockImportantDescriptionText {
  color: var(--Txt_Collor, #1b1b1b);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 10px;
}

.HowItWorksBlockImportantText {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.howItWorksContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* Стили для howItWorksContainers определены выше */

.howItWorksContainerTwo {
  position: relative;
  width: 328px;
  height: 512px;
  border-radius: 15px;
  background: var(--Background_blocks, #fffafa);
  padding: 20px;
  margin-left: 20px;
  flex-shrink: 0;
}

.timelineLine {
  position: absolute;
  left: 30px;
  top: 40px;
  bottom: 40px;
  width: 2px;
  background-color: #e0e0e0;
  z-index: 0;
}

.circle1,
.circle2,
.circle3 {
  position: absolute;
  left: 6px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #fff;
  border: 2px solid #3260fd;
  color: #3260fd;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  z-index: 1;
}

.circle1 {
  top: 40px;
}

.circle2 {
  top: 50%;
  transform: translateY(-90%);
}

.circle3 {
  bottom: 40px;
}

.stepText {
  margin-left: 60px;
  margin-bottom: 20px;
}

.MainStep {
  color: var(--Active_Header_Collor, #3460fd);
  font-family: Inter, sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 8px;
}

.DecriptionStep {
  margin-top: 10px;
  color: var(--Txt_Collor, #1b1b1b);
  font-family: Inter, sans-serif;
  font-size: 16px;
}

.popularExcanges {
  width: 100%;
}

.popularExcangesMainText {
  color: var(--Active_Header_Collor, #3460fd);
  font-family: Inter;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 100px;
}

/* Стили для centerContainer перенесены выше */

.popularExcangesContainer {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

@media (max-width: 1600px) {
  .popularExcangesContainer {
    grid-template-columns: repeat(2, 1fr);
  }

  .popularExcangesBlock:last-child {
    display: none;
  }
}

.popularExcangesBlock {
  display: flex;
  min-height: 70px;
  padding: 15px;
  align-items: center;
  gap: 34px;
  border-radius: 15px;
  background: var(--Background_blocks, #fffafa);
  justify-content: space-between;
}

@media (max-width: 768px) {
  .popularExcangesBlock:nth-child(1),
  .popularExcangesBlock:nth-child(2),
  .popularExcangesBlock:nth-child(3),
  .popularExcangesBlock:nth-child(4) {
    display: flex;
  }
}

.popularExcangesCoinsContainerSwap {
  transform: rotate(90deg);
  margin: 0 10px;
}

.popularExcangesCoinsContainer {
  display: flex;
  overflow: visible;
}

.popularExcangesCoinsContainer img {
  /* width: 35px;
    height: 35px; */
  flex-shrink: 0;
  overflow: visible;
}

.popularExcangesCoinsContainer img:not(:last-child) {
  /* margin-right: -8px; */
  position: relative;
  z-index: 1;
}

.popularExcangesCoinsContainerTextContainer {
  gap: 29px;
  display: flex;
}

.popularExcangesCoinsContainerRedText {
  color: var(--Red, #fd3437);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
}

.popularExcangesCoinsContainerTextDefault {
  color: var(--Txt_Collor, #1b1b1b);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.popularExcangesCoinsContainerButton {
  display: flex;
  width: 80px;
  height: 40px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  background: var(--Active_Header_Collor, #3460fd);
}

.popularExcangesCoinsContainerButton p {
  color: var(--FF_TXT, #fff);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.reviewsMainText {
  margin-top: 100px;
  color: var(--Active_Header_Collor, #3460fd);
  font-family: Inter;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.reviewsBlocks {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.reviewsBlock {
  display: flex;
  width: 100%;
  height: 336px;
  padding: 20px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  border-radius: 15px;
  background: var(--Background_blocks, #fffafa);
  transition: 0.7s;
}

.reviewsBlock:hover {
  box-shadow: 0px 0px 50px 0px rgba(52, 96, 253, 0.5);
  transition: 0.7s;
}

.sliderCounter {
  display: flex;
  gap: 10px;
  margin-top: 50px;
  width: 100%;
  justify-content: center;
}

.count {
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background: var(--Grey_divier, #cdc8c8);
}

.activeCount {
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background: var(--Active_Header_Collor, #3460fd) !important;
}

.reviewsBlockTop {
  display: flex;
  width: 100%;
  gap: 20px;
}

.grade {
  gap: 5px;
  display: flex;
}

.reviewsBlockText {
  margin-top: 20px;
}

.reviewsBlockText span {
  color: #000;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  align-self: stretch;
}

.reviewsBlockDate {
}

.reviewsBlockWithHC {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.reviewsBlockWithHCImage {
  align-items: center;
}

.reviewsBlockWithHCImages {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.reviewsBlockWithHCImagesTwo {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  height: 100%;
}

.howItWorksContainersBlocks {
  display: flex;
  flex: 1;
  gap: 20px;
  cursor: default;
}

.howItWorksContainersBlocksBlock {
  height: 401px;
  flex: 1;
  flex-shrink: 0;
  border-radius: 15px;
  background: var(--Background_blocks, #fffafa);
}

.howItWorksContainersBlocksBlockContent {
}

.howItWorksContainersBlocksBlockContentBody {
  display: flex;
  flex: 1;
  margin-right: 8px;
  padding: 10px;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  margin-left: 10px;
}

.howItWorksContainersBlocksBlockContentBodyListContainerFooter {
  gap: 10px;
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  width: 100%;
}

.howItWorksContainersBlocksBlockContentBodyListContainerFooter h1 {
  color: var(--Txt_Collor, #1b1b1b);
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.howItWorksContainersBlocksBlockContentBodyListContainerFooter h2 {
  color: var(--Grey_txt, #7d7878);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.howItWorksContainersBlocksBlockContentBodyTopSearch {
  display: flex;
  flex: 1;
  width: 100%;
  height: 50px;
  padding: 17px 10px;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
  background: var(--Input, #f0f1f5);
  flex-shrink: 0;
}

.howItWorksContainersBlocksBlockContentBodyTop {
  display: flex;
  flex: 1;
  width: 100%;
  gap: 5px;
}

.howItWorksContainersBlocksBlockContentBodyTopSendTokensCoinText {
  display: flex;
  flex-direction: column;
}

.howItWorksContainersBlocksBlockContentBodyTopSendTokensCoinText h1 {
  color: var(--Txt_Collor, #1b1b1b);
  font-feature-settings:
    'liga' off,
    'clig' off;
  font-family: Inter;
  font-size: 9px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.howItWorksContainersBlocksBlockContentBodyTopSendTokensCoinText h3 {
  color: var(--Grey_txt, #7d7878);
  font-feature-settings:
    'liga' off,
    'clig' off;
  font-family: Inter;
  font-size: 9px;
  font-style: normal;
  font-weight: 400;
  display: flex;
  justify-content: center;
  gap: 2px;
  align-items: center;
  text-align: center;
  margin: 0 auto;
}

.howItWorksContainersBlocksBlockContentBodyList {
  display: flex;
  flex: 1;
  width: 100%;

  padding: 10px 13px 10px 10px;
  flex-direction: row;
  align-items: flex-start;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 5px;
  background: var(--Input, #f0f1f5);
}

.howItWorksContainersBlocksBlockContentBodyListContainer {
  gap: 5px;
}

.howItWorksContainersBlocksBlockContentBodyListScroll {
  overflow: hidden;
  border-radius: 2px;
  margin-left: 35px;
  width: 3px;
  height: 138px;
  background: #fffafa;
}

.howItWorksContainersBlocksBlockContentBodyTopSendTokensCoinTextOpen {
  color: var(--Grey_txt, #7d7878);
  font-feature-settings:
    'liga' off,
    'clig' off;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 5px;
}

.howItWorksContainersBlocksBlockContentBodyListScrollActive {
  background: #3460fd;
  width: 3px;
  display: flex;
  border-radius: 15px;
  margin-top: 6px;
  height: 30px;
  position: absolute;
}

.howItWorksContainersBlocksBlockContentBodyListMainText {
  color: var(--Grey_txt, #7d7878);
  font-feature-settings:
    'liga' off,
    'clig' off;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.howItWorksContainersBlocksBlockContentBodySendDeposit {
  display: flex;
  align-items: center;
}

.mlten {
  margin-left: 10px;
}

.howItWorksContainersBlocksBlockContentBodySendDeposit h1 {
  color: var(--Txt_Collor, #1b1b1b);
  font-feature-settings:
    'liga' off,
    'clig' off;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.howItWorksContainersBlocksBlockContentBodySendDeposit h2 {
  color: var(--Txt_Collor, #1b1b1b);
  display: flex;
  gap: 5px;
  font-feature-settings:
    'liga' off,
    'clig' off;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-left: 5px;
  margin-right: 5px;
}

.howItWorksContainersBlocksBlockContentTopMainText {
  color: var(--Txt_Collor, #1b1b1b);
  text-align: center;
  font-feature-settings:
    'liga' off,
    'clig' off;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 100%;
}

.howItWorksContainersBlocksBlockContentBodyTopSendTokensDescriptionsActive {
  border-radius: 5px;
  background: var(--Active_Header_Collor, #3460fd);
  display: flex;
  padding: 5px 5px 5px 0px;
  align-items: center;
  gap: 2px;
  align-self: stretch;
}

.howItWorksContainersBlocksBlockContentBodyTopSendTokensCoinTextWhite {
  color: #ffffff !important;
}

.howItWorksContainersBlocksBlockContentBodyTopSendTokensCoinTextTon {
  background: rgba(0, 136, 204, 0.8) !important;
}

.howItWorksContainersBlocksBlockContentBodyTopSendTokensCoinTextSol {
  background: rgba(0, 0, 8, 0.8) !important;
}

.howItWorksContainersBlocksBlockContentBodyTopSendTokensCoinTextAda {
  background: rgba(0, 51, 173, 0.8) !important;
}

.howItWorksContainersBlocksBlockContentBodyTopSendTokensCoinText span {
  color: #fff;
  font-feature-settings:
    'liga' off,
    'clig' off;
  font-family: Inter;
  font-size: 5px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: flex;
  padding: 2px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 3px;
  background: rgba(247, 147, 26, 0.8);
}

.howItWorksContainersBlocksBlockContentBodySendDeposit span {
  color: #fff;
  font-feature-settings:
    'liga' off,
    'clig' off;
  font-family: Inter;
  font-size: 5px;
  font-style: normal;
  height: 100%;
  flex: 1;
  font-weight: 500;
  line-height: normal;
  display: flex;
  padding: 3px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 3px;
  background: rgba(247, 147, 26, 0.8);
}

.howItWorksContainersBlocksBlockContentBodySendDeposit p {
  color: var(--Txt_Collor, #1b1b1b);
  font-feature-settings:
    'liga' off,
    'clig' off;
  font-size: 12px;
  font-style: italic;
  font-weight: 900;
  line-height: normal;
}

.howItWorksContainersBlocksBlockContentBodySteps {
  display: flex;
  flex: 1;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-top: 23px;
}

.howItWorksContainersBlocksBlockContentBodyStepsStep {
  display: flex;
  gap: 5px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.howItWorksContainersBlocksBlockContentBodyStepsStepText {
  color: var(--Txt_Collor, #1b1b1b);
  font-feature-settings:
    'liga' off,
    'clig' off;
  font-family: Inter;
  font-size: 9px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.howItWorksContainersBlocksBlockContentBodyStepsStepActiveText {
  color: var(--Active_Header_Collor, #3460fd);
  font-feature-settings:
    'liga' off,
    'clig' off;
  font-family: Inter;
  font-size: 9px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.howItWorksContainersBlocksBlockContentBodyStepsStepCompleteText {
  color: var(--Green, #00b700);
  font-feature-settings:
    'liga' off,
    'clig' off;
  font-family: Inter;
  font-size: 9px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.howItWorksContainersBlocksBlockContentBodyDepositeAdress {
  margin-top: 5px;
}

.howItWorksContainersBlocksBlockContentBodyQrCode {
  margin-top: 20px;
}

.howItWorksContainersBlocksBlockContentBodySendDepositImages {
  display: flex;
  gap: 5px;
}

.howItWorksContainersBlocksBlockContentBodyTopSendTokensDescriptions {
  display: flex;
  gap: 5px;
}

.howItWorksContainersBlocksBlockContentBodyTopSendTokens {
  display: flex;
  width: 94px;
  padding: 5px;
  flex-direction: column;
  gap: 2px;
  flex-shrink: 0;
  border-radius: 5px;
  /* background: var(--Input, #F0F1F5); */
  align-items: center;
  justify-content: center;
}

.howItWorksContainersBlocksBlockContentBodyTopSendTokensMainText {
  color: var(--Grey_txt, #7d7878);
  font-feature-settings:
    'liga' off,
    'clig' off;
  font-family: Inter;
  font-size: 9px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.howItWorksContainersBlocksBlockContentBodyTopSearchText {
  color: var(--Grey_txt, #7d7878);
  font-feature-settings:
    'liga' off,
    'clig' off;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.howItWorksContainersBlocksBlockContentTop span {
  color: var(--Txt_Collor, #1b1b1b);
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.howItWorksContainersBlocksBlockContentTopActiveBtnRight {
  display: flex;
  align-items: center;
  gap: 5px;
}

.howItWorksContainersBlocksBlockContentTop button {
  color: var(--Txt_Collor, #1b1b1b);
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.howItWorksContainersBlocksBlockContentTopActiveBtnLeft {
  display: flex;
  gap: 10px;
}

.howItWorksContainersBlocksBlockContentTop {
  display: flex;
  margin-top: 20px;
  margin-right: 18px;
  margin-left: 20px;
  justify-content: space-between;
  align-items: center;
}

.howItWorksContainersBlocksBlockContentTopActiveBtn {
  display: flex;
  height: 29px;
  padding: 0px 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: var(--Backgraund, #f5f0f0);
}

.partners {
  margin-top: 40px;
}

.partners span {
  color: var(--Active_Header_Collor, #3460fd);
  font-family: Inter;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.partnersBlocks {
  margin-top: 50px;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(4, 1fr);
}

.partnersBlock {
  border-radius: 15px;
  background: #fffafa;
  display: flex;
  width: 100%;
  height: 170px;
  padding: 0px 39px;
  justify-content: center;
  align-items: center;
  transition: 0.7s;
}

.partnersBlock:hover {
  transition: 0.7s;
  box-shadow: 0px 0px 50px 0px rgba(52, 96, 253, 0.5);
}

.accordion {
  margin-top: 50px;
}

.howItWorksContainersBlocksBlockContentTopThree {
  display: flex;
  flex-direction: column;
}

.howItWorksContainersBlocksBlockContentTopThree h2 {
  color: var(--Grey_txt, #7d7878);
  font-feature-settings:
    'liga' off,
    'clig' off;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.howItWorksContainersBlocksBlockContentBodySendTop {
  display: flex;
  flex: 1;
  width: 100%;
  height: 50px;
  padding: 17px 10px;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
  /* background: var(--Input, #F0F1F5); */
  flex-shrink: 0;
}

.howItWorksContainersBlocksBlockContentBodyTopSendText {
  color: var(--Txt_Collor, #1b1b1b);
  font-feature-settings:
    'liga' off,
    'clig' off;
  font-family: Inter;
  font-size: 11.939px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.howItWorksContainersBlocksBlockContentBodyThree {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  width: 100%;
}

.howItWorksContainersBlocksBlockContentBodyFloatingRate {
  color: var(--Grey_txt, #7d7878);
  font-feature-settings:
    'liga' off,
    'clig' off;
  font-family: Inter;
  font-size: 9px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.howItWorksContainersBlocksBlockContentBodySwap {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 10px;
}

.howItWorksContainersBlocksBlockContentBodyListContainerFooterFour {
  /* margin-left: 21px; */
}

.howItWorksContainersBlocksBlockContentBodyDemonstration {
  display: flex;
  width: 306px;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  margin-top: 40px;
}

.howItWorksContainersBlocksBlockContentBodyDemonstrationIndicator {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 10px;
  align-self: stretch;
}

.howItWorksContainersBlocksBlockContentBodyDemonstrationIndicatorMainText {
  color: var(--Txt_Collor, #1b1b1b);
  font-feature-settings:
    'liga' off,
    'clig' off;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.howItWorksContainersBlocksBlockContentBodyDemonstrationIndicatorButton {
  display: flex;
  width: 180px;
  height: 50px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 10px;
  background: var(--Active_Header_Collor, #3460fd);
}

.howItWorksContainersBlocksBlockContentBodyDemonstrationIndicatorButton p {
  color: #fff;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.howItWorksContainersBlocksBlockContentBodyTopSendTokensCoinCenterAreaButton {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  margin-top: 30px;
}

.howItWorksContainersBlocksBlockContentBodyDemonstrationFeedback {
  display: flex;
  margin-top: 10px;
}

.howItWorksContainersBlocksBlockContentBodyDemonstrationFeedback h1 {
  color: var(--Grey_txt, #7d7878);
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-left: 5px;
}

.howItWorksContainersBlocksBlockContentBodyDemonstrationFeedback span {
  color: var(--Active_Header_Collor, #3460fd);
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.arrowRight {
  margin-left: 9px;
  margin-right: 9px;
}

.howItWorksContainersBlocksBlockContentFour {
  background-image: url('/icons/bgDn.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: -0px;
}

@media (max-width: 1024px) {
  .popularExcangesContainer {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 768px) {
  .partnersBlocks {
    grid-template-columns: repeat(2, 1fr);
  }
  .centerContainer {
    /* margin-left: 16px;
        margin-right: 16px; */
  }
  .popularExcangesBlock {
    display: none;
    justify-content: space-between;
    gap: 0;
  }
  .howItWorksContainersBlocks {
    flex-direction: column;
  }
  .howItWorksContainersBlocksBlockContentBodyDemonstration {
    width: 100%;
  }
  .howItWorksContainersBlocksBlockContentBodyDemonstrationIndicator {
    justify-content: center;
  }
  .exchange {
    flex: 1;
    width: 100%;
    max-width: 792px;
  }
  .borderEffect {
    position: unset;
    width: auto;
    height: auto;
    border-radius: unset;
    background: none;
  }
  .ourStrengthsBlocks {
    flex-direction: column;
  }
  .support {
    flex-direction: row;
    width: 100%;
    height: 253px;

    padding: 20px;
    gap: 10px;
    border-radius: 15px;
    background-position: 100% center;
  }
  .ourStrengths {
    margin-left: 0;
  }
  .noLimits {
    width: 100%;
  }
  .transparency {
    width: 100%;
    background-size: 300px;
    background-position: 93% center;
  }
  .speed {
    width: 100%;
    background-size: 250px;
    background-position: 87% center;
  }
  .noRegestration {
    width: 100%;
    background-size: 300px;
    background-position: 90% center;
  }
  .toDayStatisticMainText {
    text-align: left;
  }
  .toDayStatisticsBlocks {
    margin-top: 20px;
  }
  .toDayStatisticsBlocks {
    width: 100%;
    padding: 10px;
  }

  .swiper-pagination-bullet {
    background-color: #000;
  }

  .swiper-pagination-bullet-active {
    background-color: #007aff;
  }

  .swiper-button-next,
  .swiper-button-prev {
    color: #007aff;
  }
}

@media (width <= 660px) {
  .exchange {
    width: 93%;
    flex: 0;
  }
  .ourStrengths {
    width: 93%;
    margin-left: 16px;
  }
}

@media (width <= 450px) {
  .fromSelect input {
    width: auto;
    padding: 0;
  }
  .textCenter {
    font-size: 25px;
  }
  .textCenter span {
    font-size: 25px;
  }
  .leftForm {
    gap: 7px;
  }
}

/* @media (max-width: 1536px) {
    .ourStrengthsBlocks {
        margin-top: 50px;
        flex-direction: column;
    }

    .support {
        width: 100%;
    }
    .noLimits, .noRegestration, .speed, .transparency{
        width: 50% !important;
    }


} */

.mobileFlex1536 {
  display: none;
}
.desktopFlex1536 {
  display: flex;
}

@media (max-width: 1536px) {
  .mobileFlex1536 {
    display: flex;
  }
  .desktopFlex1536 {
    display: none;
  }
  .ourStrengthsBlocks {
    margin-top: 50px;
    /* flex-direction: column; */
    flex-wrap: wrap;
  }
  .support {
    height: fit-content;
    min-height: 220px;
    width: calc(100% - 20px);
  }
  .noLimits,
  .noRegestration,
  .speed,
  .transparency {
    width: calc(50% - 20px);
    height: fit-content;
    min-height: 220px;
  }
}
@media (max-width: 1024px) {
  .ourStrengthsBlocks {
    margin-top: 50px;
    /* flex-direction: column; */
    flex-wrap: wrap;
  }
  .support {
    height: fit-content;
    min-height: 220px;
    width: 100%;
    background-size: 140px;
    margin-bottom: 0px;
  }
  .noLimits,
  .noRegestration,
  .speed,
  .transparency {
    width: 100%;
    height: fit-content;
    min-height: 220px;
    background-size: 140px;
    background-position: 100% center;
    margin-bottom: 0px;
  }

  .noRegestrationText,
  .noLimitsText,
  .speedText,
  .transparencyText,
  .supportText {
    width: 50%;
  }

  .noRegestrationDescriptionText,
  .noLimitsDescriptionText,
  .speedDescriptionText,
  .transparencyDescriptionText,
  .supportDescriptionText {
    color: black;
  }
}

.rateUsWrapper {
  margin-top: 10px;
  width: 100%;
}

.rateUs {
  font-weight: 500;
  line-height: 26px; /* 185.714% */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  display: flex;
  span {
    font-size: 14px;
    font-style: normal;
    color: var(--Txt_Collor, #1b1b1b) !important;
    font-family: Roboto;
  }
}
